{% import "trees/common.j2" as common with context %}
{% import "trees/rhel-nightly.j2" as nightly %}
{% set distroRequires %}
  <name op="=" value="RHEL-8.2.0-20200331.0"/>
  <variant op="=" value="BaseOS"/>
{% endset %}
{% set ks_append %}
  {{ nightly.ks_append(rt=true) }}
  <ks_append><![CDATA[
%post
cat >/etc/yum.repos.d/BUILDROOT-8.repo <<EOF
[BUILDROOT-8]
name=BUILDROOT-8
baseurl=http://download.hosts.prod.upshift.rdu2.redhat.com/rhel-8/rel-eng/BUILDROOT-8/BUILDROOT-8.2.0-RHEL-8-20200331.0/compose/Buildroot/{{ ARCH }}/os/
enabled=1
gpgcheck=0
EOF
# Add Advanced VIRT repo, required for virt tests
cat >/etc/yum.repos.d/rhel8-advvirt.repo <<EOF
[rhel8-advvirt]
name=rhel8-advvirt
baseurl=http://download.devel.redhat.com/rhel-8/rel-eng/ADVANCED-VIRT-8/latest-ADVANCED-VIRT-8.2.0-RHEL-8/compose/Advanced-virt/$(uname -i)/os/
enabled=0
gpgcheck=0
EOF
%end
]]>      </ks_append>
{% endset %}
{{- common.job(distroRequires=distroRequires,
               ks_append=ks_append) -}}
