{% import "trees/common.j2" as common with context %}
{% set distroRequires %}
  <distro_family op="=" value="Fedora32"/>
  <distro_variant op="=" value="Server"/>
  <distro_name op="=" value="Fedora-32"/>
{% endset %}
{% set repos %}
  {# NOTE(rasibley): No builders for aarch64/Fedora, use mastyk's special build #}
  {% if ARCH == "aarch64" %}
    <repo name="mastyk-restraint" url="http://file.bos.redhat.com/~mastyk/restraint-0.2.0/f32/"/>
  {% else %}
    <repo name="beaker-harness" url="http://beaker.engineering.redhat.com/harness/Fedora32/"/>
  {% endif %}
{% endset %}
{% set hostRequires %}
  {# NOTE(rasibley): Exclude broken ppc64le machines which frequently abort #}
  {% if ARCH == "ppc64le" %}
    <not>
      <or>
        <hostname op="like" value="ibm-p9b-21%"/>
        <hostname op="like" value="ibm-p9b-11%"/>
        <hostname op="like" value="netqe-p9-01%"/>
      </or>
    </not>
  {% endif %}
  {# NOTE(rasibley): Exclude x86_64 machines which frequently abort on upstream jobs #}
  {% if ARCH == "x86_64" %}
    <not>
      <or>
        <hostname op="like" value="intel-sugarbay-dh%"/>
        <hostname op="like" value="cisco-c240m3-01.khw2%"/>
      </or>
    </not>
  {% endif %}
  {# NOTE(rasibley): Exclude aarch64 systems which frequently abort due to firmware quirks #}
  {% if ARCH == "aarch64" %}
    <not>
      <or>
        <hostname op="like" value="huawei%"/>
        <hostname op="like" value="hp%moonshot-%"/>
        <hostname op="like" value="cav-thunderx%"/>
        <hostname op="like" value="ampere%"/>
      </or>
    </not>
  {% endif %}
  {# NOTE(rasibley): Force it to our dedicated s390x nodes and z13 nodes which support Fedora #}
  {% if ARCH == "s390x" %}
    <or>
      <hostname op="like" value="kernelci%s390%"/>
      <cpu>
       <model_name op="=" value="2964"/>
      </cpu>
    </or>
  {% endif %}
{% endset %}
{% set ks_append %}
  <ks_append><![CDATA[
%post
cat >/usr/share/restraint/plugins/task_run.d/00_switchuser <<"EOF"
#!/bin/bash -x

if [ -n "$RSTRNT_SWITCHUSER" ]; then
    if ! getent passwd $RSTRNT_SWITCHUSER > /dev/null 2>&1; then
        useradd $RSTRNT_SWITCHUSER
    fi
    chown -R $RSTRNT_SWITCHUSER .
    su -c "$*" $RSTRNT_SWITCHUSER
else
    exec "$@"
fi
EOF
chmod 755 /usr/share/restraint/plugins/task_run.d/00_switchuser
dnf -y install initscripts
sed -i '/OOMScoreAdjust/ a OOMPolicy=continue' /usr/lib/systemd/system/restraintd.service
systemctl daemon-reload
%end
]]>      </ks_append>
{% endset %}
{{- common.job(distroRequires=distroRequires,
               hostRequires=hostRequires,
               ks_append=ks_append,
               repos=repos) -}}
